page-search-car {

    ion-content{
        background: #f1f1f1 !important
    }

    ion-datetime{
        border: 1px solid #cacaca;
        border-radius: 3px;
    }

    ion-input{
        border: 1px solid #cacaca;
        border-radius: 3px;
    }




}
