page-car-list {

    .list-img{
        width: 40%;
        float: left;
        border: 1px solid #f1f1f1;
        padding: 8px;
    }

    .list-txt{
        padding: 0 0 0 18px;
        font-size: 16px;
    }

    .search-bar-input{
        width: 80% !important;
    }

    .sort-col{
        background: #f3f3f3;
        height: 43px;
        margin-top: 9px;
        line-height: 2.5;
        padding: 5px 0 0 11px;
        font-weight: 500;
        color: #565353;
    }

    .sort-icon{
        transform: rotate(90deg);
    }

    .nolisting{
        background: #f6f6f6;
        padding: 15px;
        width: 90%;
        margin: 100px auto;
        border-radius: 5px;
        position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }
    
    .nolisting:before, .nolisting:after
    {
        content:"";
        // position:absolute;
        z-index:-1;
        -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
        -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
        box-shadow:0 0 20px rgba(0,0,0,0.8);
        top:0;
        bottom:0;
        left:10px;
        right:10px;
        -moz-border-radius:100px / 10px;
        border-radius:100px / 10px;
    }
    .nolisting:after
    {
        right:10px;
        left:auto;
        -webkit-transform:skew(8deg) rotate(3deg);
        -moz-transform:skew(8deg) rotate(3deg);
            -ms-transform:skew(8deg) rotate(3deg);
            -o-transform:skew(8deg) rotate(3deg);
                transform:skew(8deg) rotate(3deg);
    }

    .loginbtn{

    }




    
    
}
